[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
opencv-python-headless = "*"
pybase64 = "*"
flask = "*"
python-dotenv = "*"
numpy = "*"
pillow = "*"

[requires]
python_version = "3.6"
